<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DROPS | ARTSY</title>
</head>

<body>
  <!-- ***********************  PAGE OVERALL CONTENT WRAPPER *********************** -->
  <div class="container">

    <!-- *********************** PAGE HEADER *********************** -->
    <header class="header"></header>
    <!-- *********************** END OF PAGE HEADER *********************** -->

    <!-- ***********************  PAGE MAIN *********************** -->
    <main class="main">
      <section class="hero">
        <h1 class="hero__title">Photography is poetry & beautiful untold stories</h1>
        <p class="hero__subtitle">
          Flip through more than 10,000 vintage shots, old photograghs, historic images and captures seamlessly in one place. Register to get top access.
        </p>
      </section>
    </main>
    <!-- ***********************  END OF PAGE MAIN *********************** -->

    <!-- ***********************  PAGE FOOTER *********************** -->
    <footer class="footer"></footer>
    <!-- ***********************  END OF PAGE FOOTER *********************** -->

  <!-- ***********************  END OF PAGE OVERALL CONTENT WRAPPER *********************** -->
</body>

</html>